APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:YOUR_NEW_APP_KEY
APP_DEBUG=true
APP_URL=http://localhost:8080

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=shoe_shop
DB_USERNAME=user
DB_PASSWORD=123456

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=localhost
SANCTUM_STATEFUL_DOMAINS=localhost:5173,localhost:8080,localhost

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=minhchifc14@gmail.com
MAIL_PASSWORD=YOUR_NEW_GMAIL_APP_PASSWORD
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=minhchifc14@gmail.com
MAIL_FROM_NAME="Shoe Shop"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

VNPAY_TMN_CODE=YOUR_NEW_VNPAY_TMN_CODE
VNPAY_HASH_SECRET=YOUR_NEW_VNPAY_HASH_SECRET
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:8080/api/v1/payments/vnpay/return
VNPAY_IPN_URL=https://YOUR_NGROK_DOMAIN/api/v1/payments/vnpay/ipn
VNPAY_FRONTEND_SUCCESS_URL=http://localhost:8080/shop/orders/success
VNPAY_FRONTEND_FAIL_URL=http://localhost:8080/shop/checkout

MOMO_PARTNER_CODE=YOUR_NEW_MOMO_PARTNER_CODE
MOMO_ACCESS_KEY=YOUR_NEW_MOMO_ACCESS_KEY
MOMO_SECRET_KEY=YOUR_NEW_MOMO_SECRET_KEY
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_REDIRECT_URL=http://localhost:8080/api/v1/payments/momo/return
MOMO_IPN_URL=https://YOUR_NGROK_DOMAIN/api/v1/payments/momo/ipn
MOMO_REQUEST_TYPE=payWithMethod
MOMO_FRONTEND_SUCCESS_URL=http://localhost:8080/shop/orders/success
MOMO_FRONTEND_FAIL_URL=http://localhost:8080/shop/products